{% extends 'portfolio/base.html' %}
{% block content %}
    {% load static %}

<div class="container-fluid">
    <div class="p-3 mb-2 bg-dark text-white">
	<div class="row">
		<div class="col-md-12">
            <img src="{% static 'portfolio/aboutmeimg.jpg' %}" class="img-fluid">
            <h2>
				ABOUT ME
			</h2>
			<p>
				TANG　YUHSUAN　was borned in <strong>Taoyuan , TAIWAN.</strong>  I graduated with a master degree course of study: Winds and Percussions from  Tokyo College of Music Graduate School in March 2021.
            </p>
            </br>
            <h3>
                MY GOAL
            </h3>
            <p>
            I have been learning Python since August,2021.During this time that I found  fun in programming.  The more I learn,the more fun I get.
            I want to be an engineer who uses programming skills to solve real problems in the World.

            </p>
            </br>
            <h3>
                MY INTEREST
            </h3>
			<ul>
				<li class="list-item">
					Coding with friends  in a Café.
				</li>
				<li class="list-item">
					Make some songs or arrange some songs by MIDI or Piano.

				</li>
				<li class="list-item">
					Learn new things about coding.
				</li>
				<li class="list-item">
					Play Saxophone
				</li>

			</ul>
            </br>
            </br>
            <p>
                If you have anything, want to ask me. Please feel free to contact me via Email.
                </br>
                waiting for your mail, best regards.

            </p>
            <address>
                <strong>TANG YUHSUAN</strong><br /> Email: <a href="v828489@gmail.com"> v828489@gmail.com</a>
			</address>
		</div>
	</div>
</div>


{% endblock %}