{% extends 'portfolio/base.html' %}
{% block content %}
    {% load static %}   <!-- 載入靜態檔案-->

    <!-- {{projects}} -->

    <div class="row justify-content-center mb-3">
          <div class="col-md-9 text-center">
                <h1 id="hometext" class="font-weight-bold">Welcome to my space</h1>
          </div>
    </div>
    <div class="row justify-content-center my-3">
        <div class="col-12">
            <img src="{% static 'portfolio/hpimg.jpg' %}" class="img-fluid">    <!-- 載入靜態圖片檔案-->
        </div>
    </div>
    <h2 class="mt-5">Portfolio</h2>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for project in projects %}

            <div class="col">
                <div class="card h-100 ">
                {% if project.url %}
                    <a href="{{ project.url }}">
                        <img src="{{ project.image.url }}" class="card-img-top" alt="Card image cap" width="100%" height="150px">
                    </a>
                {% else %}
                    <img src="{{ project.image.url }}" class="card-img-top" alt="Card image cap" width="100%" height="150px">
                {% endif %}
                <h5 class="card-header ">{{project.title}}</h5>
                <div class="card-body height="100px">
                    <p class="card-text ">{{project.description}}</p>
                </div>
            </div>
            </div>

        {% endfor %}
    </div>



{% endblock %}

<!--

    <a href="{% url 'blog:all_blogs' %}">Blog</a> <!--將所有博客的頁面連接到主頁-->
    <br>
    <a href="{%  static 'portfolio/F9749.pdf' %}">Resume</a>     <!-- 載入靜態pdf檔案-->
    <br>

-->